@charset "UTF-8";
body, button {
  font-family:"ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-size:75%;
  line-height:1.0;
  min-width: 200px;
}
ul{
  padding-left:0px;
}
ul li{
  list-style: none;
}
ul li input{
  width:100px;
}
fieldset.position ul li input{
  width:50px;
}
fieldset.opacity ul li input{
  width:50px;
}
label{
  width:55px;
  float:left;
}
div{
  text-align:center;
  margin:5px 0;
}
div input{
  width:90%;
}
